.bookingTimeContainer {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.bookingTimeContainer i {
    color: white;
    font-size: 1.3rem;
}

.bookingTime {
    background-color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    line-height: 1;
}

.blockcart.cart-preview i {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: auto;
    transform: translate(50%, 50%);
    color: white;
    font-size: 1.2rem;
}

.blockcart.cart-preview.booked i {
    display: block;
}

#bookingModal .modal-body ul li {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
}

#bookingModal .modal-body ul li label {
    padding: 5px 10px;
    font-size: 1rem;
    margin: 0 0.5rem;
    background: transparent;
    border: 1px solid #FAB511;
    cursor: pointer;
}
#bookingModal .modal-body ul li .close-label {
    display: inline-block;
    background: white;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0;
}
#bookingModal .modal-header {
    background-color: black;
    color: white;
}

#bookingModal input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#bookingModal input[type="radio"]:checked + label {
    background: #FAB511;
    border: 1px solid #FAB511;
}
